<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome, <%= user.fname %>!</h1>
  <% if (!user.member) { %>
    <a href="/member-sign-up">Be a Member</a>
  <% } %>
  <a href="/logout">LOGOUT</a>
  <form action="/" method="post">
    <input type="hidden" name="id" value="<%= user.id %>">
    <textarea name="message" placeholder="What's on your mind, <%= user.fname %>?" required></textarea>
    <button type="submit">POST</button>
  </form>
  <main>
    <% if (!posts) { %>
      <h2>Crickets over here, share something.</h2>
    <% } else { %>
      <% posts.forEach(post => { %>
        <div>
          <p>
            FROM: <%= user.member || user.id === post.owner_id ? `${post.fname} ${post.lname}` : 'Anonymous' %>
          </p>
          <p>ON: <%= user.member || user.id === post.owner_id ? post.created_at : 'unknown' %></p>
          <p><%= post.message %></p>
        </div>
      <% }) %>
    <% } %>
  </main>
</body>
</html>