<div class="post-card">
  <div class="post-header">
    <div class="author-info">
        <div class="author-wrapper">
          <div class="author-avatar <%= badgeColorDecider(post.admin, post.member) %>">
            <%= user.member || post.owner_id === user.id ? `${post.fname[0]} ${post.lname[0]}` : '?' %>
          </div>
          <span class="author-name">
            <%= user.member || post.owner_id === user.id ? `${post.fname} ${post.lname}` : 'Anonymous' %>
          </span>
        </div>
        <div class="author-badges">
          <% if (post.member) { %>
            <span class="badge-base badge-member">club-member</span>
          <% } %>
          <% if (post.admin) { %>
            <span class="badge-base badge-admin">administrator</span> 
          <% } %>
        </div>
    </div>
    <div style="display: flex; gap: 1rem; align-items: center;">
      <% if (user.member) { %>
      <span class="post-date">
        <%
          function shortTimeAgo(createdAt) {
            const then = new Date(createdAt).getTime();
            const now = Date.now();
            const diff = Math.floor((now - then) / 1000); // seconds

            if (diff < 60) return diff + "s";       // seconds
            const mins = Math.floor(diff / 60);
            if (mins < 60) return mins + "m";       // minutes
            const hours = Math.floor(mins / 60);
            if (hours < 24) return hours + "h";     // hours
            const days = Math.floor(hours / 24);
            if (days < 7) return days + "d";        // days
            const weeks = Math.floor(days / 7);
            if (weeks < 4) return weeks + "w";      // weeks

            return new Date(createdAt).toLocaleDateString(); // older than 4 weeks
          }
        %>
        <%= shortTimeAgo(post.created_at) %>
      </span>
      <% } %>
      <% if (user.admin || post.owner_id === user.id) { %>
      <a href="/delete/<%= post.id %>" style="width: 1rem; color: red; display: flex; align-items: center;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
      </a>
      <% } %>
    </div>
  </div>
  <p class="post-content"><%= post.message %></p>
</div>